<h1>GitHub SignIn </h1>

<% if !@errors %>
<h3>You have successfully signed in with GitHub </h3>
<% else %>

<h3>Please update your GitHub account to include the following:</h3>

<% @errors.each do |error| %>
<p><%= error %> </p>
<% end %>
<% end %>