<h1>User Index</h1>

<table >



<tr style="border:1px solid black;">
<td>Producer</td>
<td> Company</td></tr>

<% @users.each do |user| %>
<tr style="border:1px solid black;">
<td><%= link_to user.name, user_path(user) %> </td>
<td><%= user.company ? user.company : user.name %> </td>
</tr>
<% end %>
</table>