<h1>All Producers</h1>

<table>




<th>Producer</th>
<th> Company</th></tr>

<% @users.order(:company).each do |user| %>

<td><%= link_to user.name, user_path(user) %> </td>
<td><%= user.company  %> </td>
</tr>
<% end %>
</table>