<h1>Edit Show: <%= @event.name %></h1>


<%= render partial: '/errors', locals: { record: @event }  %>


<%= render partial: "/events/forms" %>

<%= link_to "Delete Event", [@user, @event], :method => :delete %>
