<h1> Active Venues </h1>

<table>

<% @venues.order(:name).each do |venue| %>
<tr>
<td><p><%= link_to venue.name, venue_path(venue) %> </td><td> <%= venue.location %></p></td>
</tr>
<% end %>
</table>