<% if !record.errors %>
<% byebug %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(record.errors.count, "error") %>
      prohibited this form from being created:
    </h2>

    
    <% record.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
   
  </div>
  <% else %>
  <p></p>
  <% end %>
