<% if record.errors.count != 0  %>

  <div id="error_explanation">
    <h2>
      <%= pluralize(record.errors.count, "error") %>
      prohibited this form from being accepted:
    </h2>

    
    <% record.errors.full_messages.each do |msg| %>
     <p style="color:red"> <%= msg %></p>
    <% end %>
   
  </div>
  <% else %>
  <p></p>
  <% end %>
